.git
.venv
venv
__pycache__
.vscode
.idea
*.log
.git
.gitignore

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

media/
logs/
models/
home/
backups/
app.integrate_root_backup_*/
media_backup_*/

*.bak
*.bak_*
*.sql
*.sqlite
*.db

.env
.env.*
!.env.example

.vscode/
.idea/

*.jpg
*.jpeg
*.png
*.webp
*.mp4
*.mov

node_modules/
.DS_Store
